

body { margin: 0 auto;background-color:#E1E8EE;/*  background:url(../img/beijing.jpg) repeat;width:100%;height:100%; */ }
.ding{margin: 0 auto;}
.zhong{width:1000px;height:400px;border:#c0d6e7 solid 1px;margin: 0 auto;}
/* .foot{width:1000px;height:50px;border:#c0d6e7 solid 1px;background-color:#DFF4FF;}  */
.left {width: 290px;height: 400px; margin-left: 10px;margin-right: 10px;  overflow: hidden;border:#c0d6e7 solid 1px;float:left;background-color:#DFF4FF;}
.middle{width:430px;height:400px; margin-left: 10px;margin-right: 10px; overflow: hidden; border:#c0d6e7 solid 1px;float:left;background-color:#DFF4FF;}
.right{width:660px;height:400px; margin-left: 10px;margin-right: 10px; overflow: hidden; border:#c0d6e7 solid 1px;float:right;background-color:#DFF4FF;}